<ion-view hide-nav-bar="true" view-title="Categories">

<div class="bar bar-header bg-blue">
           <button onclick="javascript:history.go(-1)" class="button button-icon icon text-white ion-android-arrow-back"></button>
          <h1 class="title text-white">Categories</h1>
          <button class="button bg-none"><i class="icon ion-plus-round"></i></button>
        </div>

  <ion-content class="has-header">
  	<div class="padding">
      <div class="bor-bot" ng-click="goGal()">
        <p class="cat mar-5 no-margin">test</p>
      </div>
      <div class="bor-bot">
        <p class="cat mar-5 no-margin">locking</p>
      </div>
      <div class="bor-bot">
        <p class="cat mar-5 no-margin">locking</p>
      </div>
      <div class="bor-bot">
        <p class="cat mar-5 no-margin">De Lousd Rropna</p>
      </div>
      <div class="bor-bot">
        <p class="cat mar-5 no-margin">Se Wperikm</p>
      </div>
      <div class="bor-bot">
        <p class="cat mar-5 no-margin">Cgonsteed tonsaw</p>
      </div>
      <div class="bor-bot">
        <p class="cat mar-5 no-margin">Getrons</p>
      </div>
      <div class="bor-bot">
        <p class="cat mar-5 no-margin">Louderwsa</p>
      </div>
      <div class="bor-bot">
        <p class="cat mar-5 no-margin">locking</p>
      </div>
     </div>
  </ion-content>
   <div class="bar bar-footer flex-center bg-lyt-g">
      <p class="mar-auto">Key | Supervision @2018</p>
    </div>
</ion-view>
