<ion-view view-title="Clients">
  <ion-content>

        <div class="tabs-striped tabs-top">
            <div class="tabs client-tab">
              <a class="tab-item" ng-click="goTab('client')" ng-class="(tabValue == 'client')?'active':'none-border'">
                CLIENTE
              </a>
              <a class="tab-item" ng-click="goTab('contact')" ng-class="(tabValue == 'contact')?'active':'none-border'">
                CONTRATO
              </a>
              <a class="tab-item" ng-click="goTab('mediator')" ng-class="(tabValue == 'mediator')?'active':'none-border'">
                MEDIDOR
              </a>
            </div>
          </div>
          
          <div class="bar bar-header item-input-inset client-search">
              <label class="item-input-wrapper textbox-search">
                  <i class="icon ion-ios7-search placeholder-icon"></i>
                  <input type="search" placeholder="Search">
              </label>  
          </div>

          <div ng-if="tabValue == 'client'">
            <p class="see">client</p>
          </div>

          <div ng-if="tabValue == 'contact'">
              <p class="see">contact</p>
          </div>

          <div ng-if="tabValue == 'mediator'">
              <p class="see">Mediator</p>
          </div>
  </ion-content>
</ion-view>