<ion-view view-title="Galleries" hide-nav-bar="true">
  <div class="bar bar-header bg-blue">
        <button onclick="javascript:history.go(-1)" class="button button-icon icon text-white ion-android-arrow-back"></button>
          <h1 class="title text-white">Galleries</h1>
        </div>
  <ion-content class="has-header">
      <div class="padding-left padding-right bor-bot">
          <p no-margin class="fs-20 mar-10" padding-left padding-right>AVOISOS</p>
        </div>
      <div class="row padding">
          <div class="col col-75 gel">
            <p class="padding-left padding-top">C</p>
          </div>
          <div class="col col-25" >
              <button class="button button-positive float-right">+</button>
          </div>
        </div>
      
        <div class="padding">
          <div class="bg text-white pad-5 text-center">
              <span class="text-center">Galeries De fotos</span>
          </div>
          <div class="row foto">
                <div class="col col-50">
                    <span>GALERIES</span>
                </div>
                  <div class="col col-50" ng-click="goGalDetail()">
                    <span class="float-right">FOTOES</span>
                  </div>
                </div>
        </div>
  </ion-content>
    <div class="bar bar-footer flex-center bg-lyt-g">
      <p class="mar-auto">Key | Supervision @2018</p>
    </div>
</ion-view>