<ion-view view-title="Galleries Details" hide-nav-bar="true">
        <div class="bar bar-header bg-blue">
          <button onclick="javascript:history.go(-1)" class="button button-icon icon text-white ion-android-arrow-back"></button>
          <h1 class="title text-white">Galleries C557</h1>
        </div>
  <ion-content class="has-header">
      <div class="padding">
          <div class="row">
              <div class="col col-33">
                  <button class="button button-assertive wid-100"><div class="icon ion-trash-b"></div></button>
              </div>
              <div class="col col-33">
                  <button class="wid-100 button button-positive"><div class="icon ion-edit"></div></button>
              </div>
              <div class="col col-33">
                  <button class="wid-100 button button-positive"><div class="icon ion-camera"></div></button>
              </div>
          </div>
        
            <div>
                <div class="bg-light-gray text-black pad-5 text-center">
                    <span class="text-center"><b>C5557</b></span>
                </div>
            </div>
      </div>
  
  </ion-content>
   <div class="bar bar-footer flex-center bg-lyt-g">
      <p class="mar-auto">Key | Supervision @2018</p>
    </div>
</ion-view>