<ion-view view-title="Login" hide-nav-bar="true">
  <ion-content class="bg">
      <div class="key">
          <p class="text-center">KEY<span class="bor-ryt"></span>SUPERVISION</p>
          <label class="item item-input item-select sel-lab">
              <select class="select-box">
                <option>Blue</option>
                <option selected>Userios</option>
                <option>Red</option>
              </select>
            </label>
          <p class="sel mar-top-bot-5">Contrasen</p>
          <button class="button button-block button-stable int-btn" ng-click="goAdmin()">Intigrater</button>
        </div>
  </ion-content>
</ion-view>