<ion-view  view-title="Principal" hide-nav-bar="true">
      <div class="bar bar-header bg-blue">
          <h3 class="title text-white fs-16">KEY<span class="bor-ryt"></span>SUPERVISION</h3>
      </div>
  <ion-content class="has-header">
      <div class="text-black line">
          <p class="text-15 no-margin padding-left padding-right">
            <i class="icon ion-person padding-right"></i>
            ADMIN
            <i class="icon float-right ion-log-in" ui-sref="login"></i>
          </p>
        </div>
        <div class="padding">
          <p class="text-grey">Uiltmos services del di</p>
        </div>

        <br>
    
        <div class="row text-black padding-left padding-right">
          <div class="col col-20 no-padding flex-center">
            <span><i class="icon ion-images fs-35"></i></span>
          </div>
          <div class="col  text-black">
            <span class="fs-16 flex-center">FRANCISCO CAMBIO DE USO</span>
          </div>
          <div class="col col-33 flex-center">
            <span class="flex-center pad-5 text-grey ">2018-10-29</span>
          </div>
        </div>


    
        <div class="row text-center row-wid wid-100">
          <div class="col col-25 bg-tabs text-white wid" ng-click="goCat()">
            <span class="flex-center pad-5"><i class="icon ion-document-text fs-30"></i></span>
            <p>Category</p>
          </div>
          <div class="col col-25 bg-tabs text-white wid">
            <span class="flex-center pad-5"><i class="icon ion-search fs-22"></i></span>
            <p>Search</p>
          </div>
          <div class="col col-25 bg-tabs text-white wid">
            <span class="flex-center pad-5"><i class="icon ion-pie-graph fs-22"></i></span>
            <p>Estabilish</p>
          </div>
          <div class="col col-25 bg-tabs text-white wid">
            <span class="flex-center pad-5"><i class="icon ion-checkmark-round fs-22"></i></span>
            <p>Save</p>
          </div>
        </div>
  </ion-content>
</ion-view>