
.scroll {
    height: 100%;
}

.wid-100 {
    width: 100% !important;
}

.hi-100 {
    height: 100% !important;
}

.fs-8 {
    font-size: 8px !important;
}

.fs-9 {
    font-size: 9px !important;
}

.fs-10 {
    font-size: 10px !important;
}

.fs-12 {
    font-size: 12px !important;
}

.fs-13 {
    font-size: 13px !important;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-15 {
    font-size: 15px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.fs-18 {
    font-size: 18px !important;
}

.fs-20 {
    font-size: 20px !important;
}

.fs-22 {
    font-size: 22px !important;
}

.fs-24 {
    font-size: 24px !important;
}

.fs-26 {
    font-size: 26px !important;
}

.fs-28 {
    font-size: 28px !important;
}

.fs-30 {
    font-size: 30px !important;
}

.fs-32 {
    font-size: 32px !important;
}

.fs-35{
    font-size: 35px;
}

.fs-42 {
    font-size: 42px !important;
}

.fs-50 {
    font-size: 50px !important;
}

.fs-55 {
    font-size: 55px !important;
}

.white-space {
    white-space: normal !important;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-justify {
    text-align: justify;
}

.text-underline {
    text-decoration: underline !important;
}

.tex-posi {
    position: absolute;
    bottom: 0;
}

.no-border {
    border: 0px !important;
}

.none-border {
    border: none !important;
}

.mar-auto {
    margin: auto !important;
}

.no-padding {
    padding: 0px !important;
}
.bg-cover {
    background-image: url('../img/bg-cover.png');
    background-size: contain;
    height: 100%;
    width: 100%;
}
.bg-none {
    background: none !important;
}
.bg-black {
    background-color: black !important;
}
.bg-blue {
    background: #2196f3 !important;
}
.bg-red {
    background: #ed0707 !important;
}
.bg-light-gray{
    background: #bfbfbf;
}

.bg-lyt-g{
    background: whitesmoke !important;
}


.text-white-lyt {
    color: #e9e7e6 !important;
}
.text-green {
    color: #a9c45e !important;
}
.text-purple{
    color: #7c58d0 !important;
}
.text-white {
    color: white !important;
}
.text-black {
    color: black !important;
}
.text-yellow {
    color: #e8e840 !important;
}
.float-right{
    float: right !important;
}
.float-left{
		float: left !important;
}

.bg-tabs {
    background: #488bff;
}

.text-grey{
    color: grey !important;
}
.text-align{
    display: flex !important;
    align-items: center !important;
}
.text-capitalize{
        text-transform: capitalize !important;
}
.bord-bot{
        border-bottom: 1px solid #7c58d0 !important;
}
.radial-grad-50{
	background-image: radial-gradient(ellipse farthest-corner at 37% 250%, #3c84cc 0%, #315dc2 80%, #4e95d3 80%);
}

.bor-ryt{
        border-right: 1px solid #e4e4e4;
        margin: 8px;
}
.bar.bar-stable .title {
    color: #fff;}

.bar.bar-stable {
    background-color: #2196f3;
    background-image: none !important;
}
.bg{background: #2196f3;}
.key{
    margin: auto;
color: white;
width: 80%;
    background: #114b79;
padding: 14px;
position: relative;
top: 200px;
border-radius: 10px;
}
.sel{
   background: #89a5bb!important;
    padding: 15px;
}
.mar-top-bot-5{
    margin: 5px 0 5px 0;
}
.text-15{
    font-size: 20px;
    font-weight: 500;
    margin: 5px 0 5px 0;
}
.pad-5{
    padding: 5px;
}

.int-btn{
    background: none !important;
    border: 3px solid #547c9c !important;
    color: white !important;
    text-transform: uppercase !important;
    font-size: 14px !important;
}
.mar-top-bot-5{
        margin: 5px 0 0px 0;
}
.ion-search:before {
    font-size: 28px;
}
.ion-pie-graph:before {
    font-size: 28px;}
.ion-checkmark-round:before {font-size: 28px;}
.wid{
    max-width: 22%;
margin: auto;
}
.wid-100{width: 100%;}
.row-wid{
    position: absolute;
    bottom: 10px;
    width: 90%;
    margin: auto;
}
.line{border-bottom: 1px solid #c7c6c6;}
.ion-person:before {
    content: "";
    padding: 3px;
    background: #76a2e1;
    color: #fff;
    border-radius: 20px;
}
.button .icon {
    color: #fff;
}
.cat{
    font-size: 20px;
    font-weight: 500;
}
.bor-bot{
    border-bottom: 1px solid #cdcbcb; 
    width: 100%;
}
.mar-5{
    margin: 15px 0 15px 0;
}
.foo{
    position: absolute;
    bottom: 0;
}
.foo-text{
    font-size: 12px;
font-weight: 600;
box-shadow: 0px 0px 5px #888888;
width: 100%;
}
.top{
    top: 35px;
    position: absolute;
    width: 100%;
}
.mar-10{
    margin: 10px 0 10px 0;
}
.foo{
    position: absolute;
    bottom: 0;
}
.foo-text{
    font-size: 12px;
    font-weight: 600;
    box-shadow: 0px 0px 5px #888888;
    width: 100%;
}
.gel{
    background: #d1cfcf;
    border-radius: 10px;
}
.pad-5{
    padding: 5px;
}
.foto{
    padding: 10px;
    background: #d1cfcf;
    font-size: 15px;
    font-weight: 500;
}
.select-box{
    float: left;
    position: relative !important;
   background: #89a5bb!important;
    color: #fff !important;
    padding: 10px 0 10px 0 !important;
    max-width: 100% !important;
    direction: ltr !important;
    width: 100% !important;
}
.sel-lab{
    background: #89a5bb;
    border: none;
}
.item-select:after{color: #fff !important;}

/*======================------------------ Page Client ------------------=====================*/

.client-tab{
    top: 0 !important;
    color: #2196f3; 
}
.tab-bor{
    border-color: #2196f3 !important;
}
.active{
    border-color: #2196f3 !important;
}
.see{
    top: 70px;
    text-align: center;
    position: relative;
}
.client-search{
    top: 55px;
    box-shadow: 0 0 4px #d6d4d4;
}
